body
{
	margin: 0px 20px;
	padding: 0;
	box-sizing: border-box;
}

.header
{
	background: url(bg.png);
	height: 55vh;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.navbar
{
	text-align: center;
	padding: 20px;
}

.navbar a
{
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	font-family: Tohoma;
	margin-right: 80px;
	border: 2px solid transparent;
	padding: 10px;
	transition: 0.3s;
}

.navbar a:hover
{
	background: solid;
	border: 2px solid #fff;
}

.head-content
{
	text-align: left;
}
.head-content img
{
	border-radius: 50%;
	border: 2px solid #fff;
	margin-top: 20px;
}
.head-content img:hover
{
	border: 2px solid #000;
}

.name
{
	cursor: pointer;
	font-size: 30px;
	color: #fff;
	font-family: Times New Roman;
}

.desc
{
	cursor: default;
	font-size: 20px;
	color: #fff;
	font-family: Times New Roman;
}


.about-section h2
{
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
	text-decoration: underline;
}

.about-section p
{
	font-size: 30px;
	font-family: robot;
	width: 500px;
	text-align: left;
	margin: 0 auto;
	padding: 15px;
}
.margin
{
	font-size: 20px;
	font-family: robot;
	margin-top: 50px;
	margin-left: 100px;
}